<!doctype html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>My Webpage</title>
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="MainController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user %}
                            <li><a href="#/">Hello {{ user.name }}</a></li>
                            {% if user.is_admin %}
                                <li><a href="#/">Instructions</a></li>
                                <li><a href="#/new-driver">Add driver</a></li>
                                <li><a href="#/list-all-drivers">List all drivers</a></li>
                            {% else %}
                                
                            {% endif %}
                                <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}?next=#/">Log in</a></li>
                            <!-- <li><a href="#/login">Log in</a></li> -->
                            <li><a href="#/signup">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="container" ng-view></div>

    <!-- angular specific -->
    <script src="../static/bower_components/angular/angular.min.js"></script>
    <script src="../static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="../static/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="../static/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <!-- jQuery -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap specific -->
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--controllers-->
    <script src="../static/home/MainCtrl.js"></script>
    <script src="../static/drivers/NewDriverCtrl.js"></script>
    <script src="../static/drivers/ListDriversCtrl.js"></script>
    <!--services-->
    <script src="../static/drivers/DriversService.js"></script>
    <!--other-->
    <script src="../static/appRoutes.js"></script>
    <script src="../static/app.js"></script>
  </body>
</html>